/* nav bar styles */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.header-background {
  background-color: red;
}
.body-background {
  background-color: blue;
}

/*header styles */
.header {
  padding: 30px;
  text-align: center;
  background: white;
  color: gray;
  font-size: 50px;
  font-style: bold;
}
.subheader{
  padding: 0px;
  margin-top: 0px;
  margin-left: 0px;
  text-align: center;
  background: white;
  color: gray;
  font-size: 25px;
  font-style: italic;
}

.body-text{
  margin: 0px;
  padding: 0px;
  text-align: left;
  background: white;
  color: gray;
  font-size: 15px;
}

/* Changing the Color of Hyperlinked Text 
a {
  color: #f21c43; 
}
*/

/* To format text regarding feedback on github*/
/* Add space between sections */
/*
.section-break {
  margin:100px;
}
*/

/* Adding and Styling a Header Title */
/*  Section 3  */
.section-heading {
  text-align:center;
  color:grey;
  margin-top: 50px;
  margin-bottom:50px;
  font-size: 50px;
  font-weight: bold;
}


/* Adding and Styling Tiled Project Boxes */
/* Sizing for Project Containers  */
.column-1{
  columns: 1;
  width:30%;
  margin-left: 333px;
  margin-bottom: 0px;
}

.column-2{
  float: left;
  width: 250px;
  height: 100px;
  padding: 0px;
  margin-right: 100px;
  margin-left: 100               px;
  margin-bottom: 0px;
}

.column-3 {
  float: left;
  width: 250px;
  height: 100px;
  padding: 0px;
  margin-right: 25px;
  margin-left: 25px;
  margin-bottom: 0px;
}

/*To create a class for each web app box */
/* Color [and images] for webapp containers  */
.webapp-1 {
  background-color:#ffffff;
  margin-top: 30px;
  margin-bottom: 100px;
}
.webapp-2 {
  background-color:#ffffff;
  margin-top: 30px;
  margin-bottom: 100px;
}
.webapp-3 {
  background-color:#ffffff;
  margin-top: 30px;
  margin-bottom: 100px;
}
.webapp-4 {
  background-color:#ffffff;
  margin-top: 30px;
  margin-bottom: 100px;

}
.webapp-5 {
  background-color:#ffffff;
  margin-top: 30px;
  margin-bottom: 100px;
}

/* add a ruleset that changes the font size and positioning of the text */
.project-text {
  text-align:center;
  font-size:30px;
}
/* Changing Content Color With User Interaction */
/* Hover classes for individual webapp boxes */
.webapp-1:hover {
  background-color:#e44e5d;
}
.webapp-2:hover {
  background-color:#e44e5d;
}
.webapp-3:hover {
  background-color:#e44e5d;
}
.webapp-4:hover {
  background-color:#e44e5d;
}
.webapp-5:hover {
  background-color:#e44e5d;
}

.sub-unit{
  float: inherit;
  margin-top: 5px;
  width:250px;
  height:250px; 
  background-color:#e3dfe0;
  position:relative;
  text-align:left;
  color:black;
  margin-bottom:30px;
  margin-left:0px;
  font-size: 15px;
  font-weight: normal;
  padding:0 10px;
  text-align: center;
}

.feedback{
  margin-top: 700px;
  text-align:left;
  color:grey;
}

/* flip box ------------------------------------------------------------------*/

/* Enf flip box --------------------------------------------------------------*/


/* Hover on*/
.showme {
  display: none;
}

.showhim:hover .showme {
  display: block;
}


/* pop-up box START --------------------------------------------------------------

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="sub-unit w3-animate-left">
<div class="w3-container">
*/

.w3-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.w3-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.w3-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.w3-container,.w3-panel{padding:0.01em 16px}.w3-panel{margin-top:16px;margin-bottom:16px}

/* pop-up box END ----------------------------------------------------------------
*/
